/* General layout */

html, body {
    box-sizing: border-box;
    font: 16px Arial;
    text-align: center;
}

html {
    height: 100%;
}

body {
    background: #fff;
}

div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#footer {
    overflow: hidden;
    background-color: #1f4e5b;
    position: fixed;
    height: 55px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

#footer a {
    color: #fff;
}

#navbar {
    overflow: hidden;
    background-color: #1f4e5b;
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #dadada;
    display: flex;
    z-index: 100;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.button {
    background-color: #149268;
    /* Green */
    border: none;
    color: white;
    padding: 8px 8px;
    min-width: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.selected {
    background-color: #1edb9c !important;
}

#navbar>span:nth-child(1) {
    flex: 1;
    text-align: left;
    align-self: center;
    padding-left: 12px;
}

#navbar>span:nth-child(2) {
    flex: 1;
    text-align: center;
    align-self: center;
}

#navbar>span:nth-child(3) {
    flex: 1;
    text-align: right;
    align-self: center;
}

.logo {
    height: 48px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

.main {
    margin-top: 90px;
    /* navbar height */
    margin-bottom: 55px;
    /* footer height */
    padding: 16px;
}

#playfield-wrapper {
    display: inline-block;
    padding: 0;
    opacity: 1;
    position: relative;
    width: calc(100vw * 0.85);
}

.win-text {
    color: #1edb9c;
    font-size: 100px;
    font-weight: bold;
    height: 100%;
    left: 0;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 100%
}


/* Card layout */

.play-field, .card {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.play-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 0;
    border-collapse: collapse;
    opacity: 1
}

.card {
    width: calc(100vw * 0.4);
    height: calc(100vw * 0.4);
    font-size: 64px;
    line-height: 70px;
    cursor: default;
    padding: 3px;
}

.flipper {
    position: relative;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #c8f4ef;
    text-align: center;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 3px 1px #c8f4ef;
    opacity: 1;
}

.face {
    border: solid 1px #aaa;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    width: 90%;
    height: 90%;
    box-shadow: inset 0px 0px 4px #aaa;
    margin: 5%;
}

.front {
    opacity: 0;
    color: #2B54BF;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.front .cardText {
    color: black;
    font-size: 15px;
}

.front img {
    width: 100%;
    height: 100%;
}

.front video {
    width: 100%;
    height: 100%;
}

.back {
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5) 5px, rgba(178, 212, 218, .5) 6px, rgba(178, 212, 218, .5) 6px, rgba(255, 255, 255, .1) 7px), repeating-linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 5px, rgba(178, 212, 218, .5) 6px, rgba(178, 212, 218, .5) 6px, rgba(255, 255, 255, .1) 7px);
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 5px, rgba(178, 212, 218, .5) 6px, rgba(178, 212, 218, .5) 6px, rgba(255, 255, 255, .1) 7px), -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 5px, rgba(178, 212, 218, .5) 6px, rgba(178, 212, 218, .5) 6px, rgba(255, 255, 255, .1) 7px);
}

.clicks {
    position: absolute;
    right: 3px;
    bottom: 2px;
    color: #777;
    font: bold 11px Arial
}

/* Card animation */

.card {
    perspective: 500;
    -webkit-perspective: 500;
    -moz-perspective: 500;
}

.flipper {
    transform-style: preserve-3d;
    transition: transform 0.15s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.15s linear;
}

.face {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: opacity 0.15s linear;
    -webkit-transition: opacity 0.15s linear;
}

.flipfront {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    box-shadow: -1px 1px 3px 1px #ccc;
}

.flipback {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

@-moz-keyframes pulse {
    from {
        background-color: #fff;
    }
    to {
        background-color: #1edb9c;
    }
}

@-webkit-keyframes pulse {
    from {
        background-color: #fff;
    }
    to {
        background-color: #1edb9c;
    }
}

@keyframes pulse {
    from {
        background-color: #fff;
    }
    to {
        background-color: #1edb9c;
    }
}

.pulse {
    -moz-animation: pulse 0.2s ease-in-out 5 alternate;
    -webkit-animation: pulse 0.2s ease-in-out 5 alternate;
    animation: pulse 0.2s ease-in-out 5 alternate;
}

.play-field.win .flipper {
    -webkit-transition: opacity 0.5s ease 1.5s;
    transition: opacity 0.5s ease 1.5s;
    opacity: 1 !important
}

.win-text {
    opacity: 0;
    z-index: -1;
    font-size: 0;
    margin-top: 0;
    text-shadow: -1px -1px #1edb9c, 1px -1px #1edb9c, -1px 1px #1edb9c, 1px 1px #1edb9c;
    -webkit-transition: all 1.5s ease 0.5s;
    transition: all 1.5s ease 0.5s;
}

#playfield-wrapper.win .win-text {
    font-size: 100px;
    opacity: 1;
    z-index: 1;
    margin-top: -50px;
}

/* media queries to adapt to screen size */

@media (min-width: 1000px) {
    .card {
        width: calc(100vw * 0.2);
        height: calc(100vw * 0.2);
    }
}

